localhost:80 {
	root * .
	encode gzip zstd
	file_server {
		browse
		precompressed br
	}
}
#TODO
# reverse_proxy the server
# host the assets (? maybe server does it for us)
# if server hosts it for us then brotli wasm compression will not work as
# precompressed works only with file_server
# and on the fly compression is not performant code as per caddy authors
